.primary {
  background-color: var(--auxiliary-color);
  color: white;
}

.secondary {
  background-color: transparent;
  border: 1px solid var(--auxiliary-color);
  color: var(--auxiliary-color);
}

button {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.3s background-color ease-in-out, color 0.3s ease-in-out;
}

button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(235, 94, 40, 0.4);
}

button:hover {
  color: white;
  background-color: var(--secondary-color);
}