:root {
  --primary-color: #252422;
  --secondary-color: #403d39;
  --tertiary-color: #ccc5b9;
  --auxiliary-color: #eb5e28;
  --white-color: #fffcf2;
  --font-family:
    system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

header {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: var(--white-color);
  text-decoration: none;
}

nav a {
  color: var(--white-color);
  text-decoration: none;
  margin-left: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
}